{{- define "main" }}
<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">{{ .Title }}</h1>
    {{- with .Description }}
    <div class="post-description">{{ . }}</div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
    </div>
    {{- end }}
  </header>

  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- with .Content }}
  <div class="post-content md-content">
    {{- if not ($.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" . -}}
    {{- else }}{{ . }}{{ end }}
  </div>
  {{- end }}

  {{- partial "extend_post_content.html" . }}

  {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
  {{- $terms := $.GetTerms $tags }}
  {{- if or (gt (len $terms) 0) (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
  <footer class="post-footer">
    {{- if gt (len $terms) 0 }}
    <ul class="post-tags">
      {{- range $terms }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>
  {{- end }}
</article>
{{- end }}
